.desc-leftside {
  display: block;
  text-align: start;
  color: #cfd1d4;
  padding: 6% 4%;
  width: 40%;
}

.desc-leftside-head {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
}

.desc-leftside-subhead {
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: 0.5px;
  line-height: 1.7em;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 1100px) {
  .desc-leftside {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 50px;
  }

  .desc-leftside-head {
    font-size: 30px;
  }

  .desc-leftside-subhead {
    font-size: 16px;
  }
}
